<form class="user-form auth-form" *ngIf="value != null"
      #form="ngForm" (ngSubmit)="onSubmit()"
>

  <div class="row" *ngIf="value.id != null">
    <label>Id</label>
    <span>{{ value.id }}</span>
  </div>

  <div class="row">
    <label>Name</label>
    <span>
      <input type="text" pInputText
             [(ngModel)]="value.name"
             name="name"
             required
      >
    </span>
  </div>

  <div class="row">
    <label>Email</label>
    <span>
      <input type="text" pInputText
             [(ngModel)]="value.email"
             name="name"
             required
      >
    </span>
  </div>

  <div class="row">
    <label>Active</label>
    <span>
      <p-inputSwitch [(ngModel)]="value.active"
                     name="active"
      ></p-inputSwitch>
    </span>
  </div>

  <div class="row">
    <label>Admin</label>
    <span>
      <p-inputSwitch [(ngModel)]="value.admin"
                     name="admin"
      ></p-inputSwitch>
    </span>
  </div>

  <div class="row">
    <label>Email verified</label>
    <span>
        <i class="pi pi-check-circle active" *ngIf="value.emailVerified"></i>
        <i class="pi pi-times-circle inactive" *ngIf="!value.emailVerified"></i>
    </span>
  </div>

  <div class="row">
    <label>Password expired</label>
    <span>
        <i class="pi pi-check-circle active" *ngIf="value.passwordExpired"></i>
        <i class="pi pi-times-circle inactive" *ngIf="!value.passwordExpired"></i>
    </span>
  </div>

  <div class="actions">
    <input type="submit" hidden>
    <button type="button" pButton
            label="Cancel"
            class="ui-button-secondary"
            (click)="onCancel()"></button>
    <button type="button" pButton
            label="Submit"
            [disabled]="form.invalid"
            (click)="onSubmit()"></button>
  </div>

</form>
