<form class="user-form auth-form" *ngIf="model?.user != null"
      #form="ngForm" (ngSubmit)="onSubmit()"
>

  <div class="row" *ngIf="model.user.id != null">
    <label>Id</label>
    <span>{{ model.user.id }}</span>
  </div>

  <div class="row">
    <label>Name</label>
    <span>
      <input type="text" pInputText
             [(ngModel)]="model.user.name"
             name="name"
             required
      >
    </span>
  </div>

  <div class="row">
    <label>Email</label>
    <span>
      <input type="text" pInputText
             [(ngModel)]="model.user.email"
             name="email"
             required
      >
    </span>
  </div>

  <div class="row">
    <label>Active</label>
    <span>
      <p-inputSwitch [(ngModel)]="model.user.active"
                     name="active"
      ></p-inputSwitch>
    </span>
  </div>

  <div class="row">
    <label>Admin</label>
    <span>
      <p-inputSwitch [(ngModel)]="model.user.admin"
                     name="admin"
      ></p-inputSwitch>
    </span>
  </div>

  <div class="row" *ngIf="!model.newUser">
    <label>Email verified</label>
    <span>
        <p-inputSwitch [(ngModel)]="model.user.emailVerified"
                       name="admin"
        ></p-inputSwitch>
    </span>
  </div>

  <div class="row" *ngIf="!model.newUser">
    <label>Password expired</label>
    <span>
        <i class="pi pi-check-circle active" *ngIf="model.user.passwordExpired"></i>
        <i class="pi pi-times-circle inactive" *ngIf="!model.user.passwordExpired"></i>
    </span>
  </div>

  <div class="row">
    <label>Password</label>
    <span>
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
              <p-checkbox [(ngModel)]="model.updatePassword"
                          name="update-password"
              ></p-checkbox>
            </span>
            <input type="text" pInputText placeholder="New password"
                   [disabled]="!model.updatePassword"
                   [(ngModel)]="model.newPassword"
                   name="new-password"
            >
        </div>
    </span>
  </div>

  <div class="row" *ngIf="!model.newUser">
    <label>Created</label>
    <span>
      {{ model.user.creationDateTime | moment }}
    </span>
  </div>


  <div class="actions">
    <input type="submit" hidden>
    <button type="button" pButton
            label="Cancel"
            class="ui-button-secondary"
            (click)="onCancel()"></button>
    <button type="button" pButton
            label="Submit"
            [disabled]="form.invalid"
            (click)="onSubmit()"></button>
  </div>

</form>
