<span [ngSwitch]="column.type"
      *ngIf="value != null"
>
  <span *ngSwitchCase="'ACTIVE'">
    <i class="pi pi-check-circle active" *ngIf="value.active"></i>
    <i class="pi pi-times-circle inactive" *ngIf="!value.active"></i>
  </span>

  <span *ngSwitchCase="'ENDPOINT_URL'" class="endpoint-url">
    <auth-application-component-healthcheck [id]="value.id"
    ></auth-application-component-healthcheck>
    <span class="url">{{ value.endpointUrl }}</span>
  </span>

  <span *ngSwitchDefault>
    {{ value[column.field] }}
  </span>

</span>
