.user-info {
  text-align: center;

  .content {
    display: inline-block;
  }

  header {
    font-size: large;
  }

  .content-row {
    display: inline-flex;
    align-items: stretch;
    margin-top: 1em;
    text-align: initial;

    >* {
      flex: 1 1 40em;
      margin: 0 1em;

      >p {
        text-align: center;
        margin-bottom: 1em;
        opacity: .8;
      }
    }
  }

}
