.header {
  background-color: palegreen;
  display: flex;
  align-items: stretch;

  > * {
    flex: 0 0  auto;
    display: inline-block;
    padding: .2em;
  }

  >a {
    margin: 0 1em;
  }

  >.separator {
    flex: 1 1 100%;
  }
}
