@import "~src/app/shared/styles/variables";

.header {
  background-color: $primaryBackground;
  color: $primaryForeground;

  display: flex;
  align-items: stretch;

  > * {
    flex: 0 0 auto;
    display: inline-block;
    padding: .3em;
  }

  > .title {
    margin-right: 1em;
  }

  > a {
    padding: .3em .5em;

    color: $primaryLinkForeground;

    &:hover {
      background-color: $primaryLinkHoverBackground;
      color: $primaryLinkHoverForeground;
      cursor: pointer;
    }
  }

  > .separator {
    flex: 1 1 100%;
  }
}
