<div class="header ui-widget">

  <span class="title" *ngIf="(authenticatorName | async) != null">
    {{ authenticatorName | async }}
  </span>

  <span class="title" *ngIf="(authenticatorName | async) == null">
    Auth provider unreachable
  </span>

  <a [routerLink]="['/admin']"
     *ngIf="loggedUserIsAdmin | async">
    <i class="fa fa-cog"></i>
  </a>

  <span class="separator"></span>

  <a [routerLink]="['/user']">
    {{ loggedUserName | async }}
  </a>

  <a (click)="onLogout()" *ngIf="loggedUserIsNotNull | async">
    <i class="fa fa-sign-out"></i>
  </a>
</div>
