<div class="application-list ui-widget">

  <header class="actions-header">
    <h1>Applications</h1>
    <span class="actions">
      <button type="button" pButton
              label="Create new application"
              (click)="onNewApplicationClick()"></button>
    </span>
  </header>

  <auth-application-filter [ngModel]="filter | async"
                           (ngModelChange)="onFilterChange($event)"
  ></auth-application-filter>

  <auth-application-table [applications]="values | async"
                          [totalCount]="totalCount | async"
                          [columns]="columns | async"
                          [loading]="loading"
                          [wsPagination]="wsPagination | async"
                          (wsPaginationChange)="onWsPaginationChanged($event)"
                          (rowClick)="onApplicationSelected($event)"
  ></auth-application-table>

  <p-dialog header="Component edition"
            [visible]="editingApplication != null"
            [closeOnEscape]="true"
            (visibleChange)="onApplicationEditCancel()"
            [modal]="true">
    <auth-application-form [ngModel]="editingApplication"
                           (ngModelChange)="onApplicationEdited($event)"
                           (cancel)="onApplicationEditCancel()"
                           (delete)="onEditingApplicationDelete()"
    ></auth-application-form>
  </p-dialog>
</div>


<p-toast position="center" [key]="applicationDeleteConfirmationToastKey"
         (onClose)="onApplicationDeleteConfirmationRejected()"
         [modal]="true" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div style="text-align: center">
      <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
      <h3>{{message.summary}}</h3>
      <p>{{message.detail}}</p>
    </div>
    <div class="ui-g ui-fluid">
      <div class="ui-g-6">
        <button type="button" pButton (click)="onApplicationDeleteConfirmationConfirmed()"
                label="Yes - Forget everything about this application" class="ui-button-danger"></button>
      </div>
      <div class="ui-g-6">
        <button type="button" pButton (click)="onApplicationDeleteConfirmationRejected()"
                label="No" class="ui-button-secondary"></button>
      </div>
    </div>
  </ng-template>
</p-toast>

