<form class="key-form auth-form" *ngIf="value != null"
      #form="ngForm" (ngSubmit)="onSubmit()"
>

  <div class="row" *ngIf="value.id != null">
    <label>Id</label>
    <span>{{ value.id }}</span>
  </div>

  <div class="row">
    <label>Name</label>
    <span>
      <input type="text" pInputText
             [(ngModel)]="value.name"
             name="name"
             required
      >
    </span>
  </div>

  <div class="row">
    <label>Active</label>
    <span>
      <p-inputSwitch [(ngModel)]="value.active"
                     name="active"
      ></p-inputSwitch>
    </span>
  </div>

  <div class="row">
    <label>Used for application secret</label>
    <span>
        <i class="pi pi-check-circle active" *ngIf="value.forApplicationSecrets"></i>
        <i class="pi pi-times-circle inactive" *ngIf="!value.forApplicationSecrets"></i>
    </span>
  </div>


  <div class="row">
    <label>Component scope</label>
    <span>
      <span *ngIf="value.componentId == null">None</span>
      <span *ngIf="value.componentId != null">
        <!-- TODO: component display -->
      </span>
    </span>
  </div>

  <div class="row">
    <label>Created</label>
    <span>
      {{ value.creationDateTime | date:'full' }}
    </span>
  </div>

  <div class="actions">
    <input type="submit" hidden>
    <button type="button" pButton
            label="Cancel"
            class="ui-button-secondary"
            (click)="onCancel()"></button>
    <button type="button" pButton
            label="Submit"
            [disabled]="form.invalid"
            (click)="onSubmit()"></button>
  </div>

</form>
