.form {
  width: 50em;

  .row {
    display: flex;
    align-items: center;
    margin: 1em;
    width: 100%;
    height: 2em;
    text-align: left;

    > label {
      flex: 0 0 10em;
      opacity: .8;
    }
    > span {
      flex: 1 1 30em;
    }
    > * {
      display: inline-block;
    }

    [pInplaceContent] {
      display: inline-flex;
      align-items: center;
      > * {
        flex: 1 1 auto;
      }
      > a {
        flex: 0 0 auto;
        margin: .3em;
        font-size: large;
        &:hover {
          opacity: .8;
          cursor: pointer;
        }
      }
    }

    .password-form {
      display: block;
      > *:not([hidden]) {
        display: block;
        margin: .3em;
      }
      > a {
        font-size: medium;
        &:hover {
          opacity: .8;
          cursor: pointer;
        }
      }
    }

  }

}
