.form {

  .row {
    display: flex;
    align-items: center;
    margin: 1em;
    height: 2em;
    text-align: left;
    position: relative;

    > label {
      flex: 0 0 10em;
      opacity: .8;
    }
    > span {
      flex: 1 1 30em;
    }
    > * {
      display: inline-block;
    }

    [pInplaceContent] {
      display: inline-flex;
      align-items: center;
      > * {
        flex: 1 1 auto;
      }
      > a {
        flex: 0 0 auto;
        margin: .3em;
        font-size: large;
        &:hover {
          opacity: .8;
          cursor: pointer;
        }
      }
    }

    .password-form {
      display: block;
      > *:not([hidden]) {
        display: block;
        margin: .3em 0;
        width: 100%;
      }

      >.actions {
        > a {
          font-size: small;
          display: inline-block;
          vertical-align: middle;
          margin: 0 .3em;
          &:hover {
            opacity: .8;
            cursor: pointer;
          }
          >* {
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
    }

  }

}
