<form class="application-filter ui-widget"
      #form="ngForm" [ngFormOptions]="{updateOn: 'change'}"
>
  <div *ngIf="value != null" class="content">


    <span class="control">
      <p-triStateCheckbox [(ngModel)]="value.active"
                          label="Active"
                          name="active"
      ></p-triStateCheckbox>
    </span>

      <span class="control">
      <label>Name contains</label>
      <span>
        <input type="text" pInputText
               [(ngModel)]="value.nameContains"
               name="nameContains"
        >
      </span>
    </span>

  </div>

</form>
