<div class="user-list ui-widget">

  <header class="actions-header">
    <h1>Users</h1>
    <span class="actions">
      <button type="button" pButton
              label="Create new user"
              (click)="onNewUserClick()"></button>
    </span>
  </header>

  <auth-user-filter [ngModel]="filter | async"
                    (ngModelChange)="onFilterChange($event)"
  ></auth-user-filter>

  <auth-user-table [users]="values | async"
                   [totalCount]="totalCount | async"
                   [columns]="columns | async"
                   [loading]="loading"
                   [wsPagination]="wsPagination | async"
                   (wsPaginationChange)="onWsPaginationChanged($event)"
                   (rowClick)="onUserSelected($event)"
  ></auth-user-table>

  <p-dialog header="Component edition"
            *ngIf="editingUserFormModel != null"
            [visible]="true"
            [modal]="true"
            [closeOnEscape]="true"
            (visibleChange)="onUserEditCancel()"
  >
    <div class="row user-edit-row">
      <auth-user-form [ngModel]="editingUserFormModel"
                      (ngModelChange)="onUserEdited($event)"
                      (cancel)="onUserEditCancel()"
                      (delete)="onEditingUserDelete()"
      ></auth-user-form>
      <div *ngIf="!editingUserFormModel.newUser">
        <auth-user-application-list [userId]="editingUserFormModel.user.id"
                                    [editable]="true"
                                    header="Linked applications"
        ></auth-user-application-list>
      </div>
    </div>
  </p-dialog>
</div>


<p-toast position="center" [key]="userDeleteConfirmationToastKey"
         (onClose)="onUserDeleteConfirmationRejected()"
         [modal]="true" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div style="text-align: center">
      <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
      <h3>{{message.summary}}</h3>
      <p>{{message.detail}}</p>
    </div>
    <div class="ui-g ui-fluid">
      <div class="ui-g-6">
        <button type="button" pButton (click)="onUserDeleteConfirmationConfirmed()"
                label="Yes - Forget everything about this user" class="ui-button-danger"></button>
      </div>
      <div class="ui-g-6">
        <button type="button" pButton (click)="onUserDeleteConfirmationRejected()"
                label="No" class="ui-button-secondary"></button>
      </div>
    </div>
  </ng-template>
</p-toast>

