/* You can add global styles to this file, and also import other style files */
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/nova-light/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~font-awesome/css/font-awesome.min.css";
//
@import "app/shared/styles/forms";
@import "app/shared/styles/action-header";
@import "app/shared/styles/status-icon";
@import "app/shared/styles/token";

body {
  margin: 0;
  padding: 0;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

// FIX ppassword feedback=false
.ui-password-panel {
  display: none;
}

.ui-inplace {
  position: relative;
}

.ui-inplace .ui-inplace-display {
  display: inline-block;
}

.ui-inplace .ui-inplace-content {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;

  > * {
    flex: 1 1 auto;
    position: relative;
  }
  > button {
    flex: 0 0 auto;
  }
}
