/* You can add global styles to this file, and also import other style files */
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/nova-light/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~font-awesome/css/font-awesome.min.css";
//
@import "assets/styles/forms";
@import "assets/styles/action-header";
@import "assets/styles/status-icon";

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

// FIX ppassword feedback=false
.ui-password-panel {
  display: none;
}

.ui-inplace .ui-inplace-display {
  display: inline-block;
}

.ui-inplace .ui-inplace-content {
  display: inline-block;
}
