<form class="component-form auth-form" *ngIf="value != null"
      #form="ngForm" (ngSubmit)="onSubmit()"
>

  <div class="row" *ngIf="value.id != null">
    <label>Id</label>
    <span>{{ value.id }}</span>
  </div>

  <div class="row">
    <label>Name</label>
    <span>
      <input type="text" pInputText
             [(ngModel)]="value.name"
             name="name"
             required
      >
    </span>
  </div>

  <div class="row">
    <label>Active</label>
    <span>
      <p-inputSwitch [(ngModel)]="value.active"
                     name="active"
      ></p-inputSwitch>
    </span>
  </div>

  <div class="row">
    <label>EndpointUrl</label>
    <span>
      <input type="url" pInputText
             [(ngModel)]="value.endpointUrl"
             name="url"
             required>
    </span>
  </div>

  <div class="row" *ngIf="value.id != null">
    <label>Component secret</label>
    <span>
      <p-inplace [closable]="true"
                 (onActivate)="createComponentSecret()"
      >
        <span pInplaceDisplay>
          Create secret
        </span>
        <span pInplaceContent>
          <textarea pInputTextarea *ngIf="componentSecret != null"
                    #publicKeyArea
                    [ngModel]="componentSecret"
                    [readonly]="true"
                    [ngModelOptions]="{'standalone': true}"
                    class="component-secret-area"
          ></textarea>
        </span>
      </p-inplace>
    </span>
  </div>

  <div class="row" *ngIf="value.id != null">
    <label>Public key url</label>
    <span>
        <input type="text" pInputText
               [ngModel]="publicKeyUrl"
               [readonly]="true"
               [ngModelOptions]="{'standalone': true}"
               class="component-public-key-url">
    </span>
  </div>

  <div class="row" *ngIf="value.id != null">
    <label>Public key</label>
    <span>
      <p-inplace [closable]="true"
                 (onActivate)="loadPublicKey()"
      >
        <span pInplaceDisplay>
          Show
        </span>
        <span pInplaceContent>
          <textarea pInputTextarea *ngIf="publicKey != null"
                    #publicKeyArea
                    [ngModel]="publicKey"
                    [readonly]="true"
                    [ngModelOptions]="{'standalone': true}"
                    class="component-public-key"
          ></textarea>
        </span>
      </p-inplace>
    </span>
  </div>

  <div class="actions">
    <input type="submit" hidden>
    <button type="button" pButton
            label="Cancel"
            class="ui-button-secondary"
            (click)="onCancel()"></button>
    <button type="button" pButton
            label="Submit"
            [disabled]="form.invalid"
            (click)="onSubmit()"></button>
  </div>

</form>
